[Unit]
Description=Fix Stale Handles

[Timer]
# Run Every Day and every 5 Minutes
OnCalendar=*:0/5

# Execute job if it missed a run due to machine being off
Persistent=true

# Set the timer accuracy to 15 second instead of the default 1 minute (60 seconds)
AccuracySec=15s

# Run when enabled (after a small Delay)
OnActiveSec=5s

# After System Reboot (after a small Delay)
OnBootSec=60s

# File describing job to execute
Unit=fix-stale-handle.service

[Install]
WantedBy=timers.target
